[Desktop Entry]
Type=Application
Name=Spice Wallet
Comment=A light Monero wallet.
Exec=spice_wallet
Icon=spice_wallet
Categories=Finance;Network;
Terminal=false
